@media (min-width: 768px) {
  .layout {
    --fd-layout-width: 100vw !important;
    --fd-sidebar-width: 220px !important;
  }
}

@media (min-width: 1280px) {
  .layout {
    --fd-layout-width: 100vw !important;
    --fd-sidebar-width: 228px !important;
    --fd-toc-width: 220px !important;
  }
}
